#im-login{
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: auto;
	height: 100%;
	max-width: 350px;
	border-radius: 5px;
	background-color: #f0f5f9;
	.im-login-title{
		width: 100%;
		text-align: center;
		padding: 10px 5px 15px;
	}
	.im-login_title-text{
		font-size: 24px;
		font-weight: 500;
	}
	.login-form-button {
		width: 100%;
	}
	.im-login-content{
		padding: 0 20px;
	}
}