#components-form-demo-normal-login{
	max-width: 300px;
	margin: 0 auto;
}

#components-form-demo-normal-login .login-form-forgot {
	float: right;
}

#components-form-demo-normal-login .login-form-button {
	width: 100%;
}