#im-chat-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-right: 10px;
    .section-top {
        display: flex;
        justify-content: space-between;
        min-height: 55px;
        border-bottom: 1px solid rgb(222, 222, 222);
        .section-top-left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-content: center;
            .section-top_left-username{
                font-size: 16px;
                font-weight: 500;
                color: rgb(26, 25, 25);
            }
        }
    }
    .section-center {
		flex-grow: 1;
		overflow:auto;
        .message-content {
            display: flex;
            align-items: center;
            padding: 10px 5px;
            .message-avatar-wrap {
                padding: 5px;
            }
			.message-text {
				padding: 5px; // height: 44px;
                // border: 1px solid #ccc;
                box-shadow: 0 0 5px 1px rgb(232, 232, 232);
				border-radius: 10px;
				background: #fff;
			}
			&.me{
				flex-direction: row-reverse;
				.message-text{
                    background-color: rgb(41,154,214);
                    color: #fff;
				}	
            }
            .im-face{
                width: 22px;
                height: 22px;
                display: inline-block;
                vertical-align: bottom;
                &.old-face{
                    background: url(../../../images/faceIcon/oldFace.png) no-repeat;
                }
            }
		}
    }
    .section-bottom {
        // border-top: 1px solid #ccc; // height: 180px;
        box-shadow: 0 0 5px 1px rgb(204, 204, 204);
        border-radius: 5px;
        background-color: #fff; 
        .bottom-nav_top{
            padding: 3px 5px;
            font-size: 16px;
        }
        .section-text {}
        .section-button-box {
			padding: 5px; 
            text-align: right;
        }
    }
}