@import '~antd/dist/antd.css';
@import './styles/normalize.css';
@import './styles/base.less';
html,body{
  height: 100%;
}
body{
  background: url(./images/main-bg.png) no-repeat center/cover;
}
#root{
  /* min-height: 400px; */
  display: flex;
}

a{
  color: #c3c3c3;
  list-style: none;
}
a:hover{
  color: #fff;
}
a:active{
  list-style: none;
}
a:focus{
  list-style: none;
  text-decoration:none;
}